@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");

body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}

.App {
  display: flex;
  background-color: #000 !important;
  background: url("../src/Assets/backImage.svg") no-repeat fixed center;
  width: 1920px;
  height: 969px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

@media (max-width: 40rem) {
  .App {
    margin: 0 16px;
  }
}
